{% extends 'base.html.twig.twig' %}

{% block title %}Competition index{% endblock %}

{% block body %}
    <h1>Competition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomCompetition</th>
                <th>DateCompetition</th>
                <th>VilleCompetition</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition.nomCompetition }}</td>
                <td>{{ competition.dateCompetition ? competition.dateCompetition|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ competition.villeCompetition }}</td>
                <td>{{ competition.id }}</td>
                <td>
                    <a href="{{ path('competition_show', {'id': competition.id}) }}">show</a>
                    <a href="{{ path('competition_edit', {'id': competition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competition_new') }}">Create new</a>
{% endblock %}
