{% extends 'base.html.twig' %}

{% block title %}Competition{% endblock %}

{% block body %}
    <h1>Competition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NomCompetition</th>
                <td>{{ competition.nomCompetition }}</td>
            </tr>
            <tr>
                <th>DateCompetition</th>
                <td>{{ competition.dateCompetition ? competition.dateCompetition|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>VilleCompetition</th>
                <td>{{ competition.villeCompetition }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('competition_index') }}">back to list</a>

    <a href="{{ path('competition_edit', {'id': competition.id}) }}">edit</a>

    {{ include('competition/_delete_form.html.twig') }}
{% endblock %}
