{% extends 'base.html.twig' %}

{% block title %}Entrainement index{% endblock %}

{% block body %}
    <h1>Entrainement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DateEntrainement</th>
                <th>Groupe</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrainement in entrainements %}
            <tr>
                <td>{{ entrainement.dateEntrainement ? entrainement.dateEntrainement|date('Y-m-d') : '' }}</td>
                <td>{{ entrainement.groupe }}</td>
                <td>{{ entrainement.id }}</td>
                <td>
                    <a href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                    <a href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entrainement_new') }}">Create new</a>
{% endblock %}
